name: Deploy with Docker to Ubuntu Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew clean build

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/spring-boot-app:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/spring-boot-app:latest

      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}

      - name: Add known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H 3.39.194.62 >> ~/.ssh/known_hosts

      - name: Deploy on Server
        run: |
          ssh ubuntu@3.39.194.62 << 'EOF'
            docker stop spring-boot-app || true
            docker rm spring-boot-app || true
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/spring-boot-app:latest
            docker run -d --name spring-boot-app -p 8080:8080 ${{ secrets.DOCKERHUB_USERNAME }}/spring-boot-app:latest
          EOF
